//footer
footer {
    background-color: #353535;
    color:white;
    padding: 0px 0 25px 30px;
}
 h4 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.block {
    padding-bottom: 10px;
}

.fa-utensils {
    margin-right: 12px;
}
.fa-hands-helping {
    margin-right: 5px;
}
