// header
h1 {
    text-align: center;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    position:relative;
    background-color: white;
}
  
header .logo {
    margin:0;
    font-family: 'Shrikhand', cursive;
}