// main
.menu-title {
    display: flex;
    font-family: 'Shrikhand', cursive;
    justify-content: space-between;
    align-items: center;
    padding:20px 25px;
}
.heart {
    font-size: 25px;
    @include animated-heart;
}
.menus {
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width:100%;
    position:relative;
    margin-bottom: 40px;
    margin-top: -10px;
    @media screen and (max-width: $breakpoint){
        margin-top:-50px;
    }
}
// Meals
.meals {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
    @media screen and (max-width:1200px){
    margin-top: 5px;
    margin-right: 5px;
    }
    @media screen and (max-width: 991px){
        grid-template-columns: 1fr;
    }
& h3 {
    text-transform: uppercase;
    font-weight: 400;
    position:relative;
}
& h3::after {
    content: "";
    position:absolute;
    height:5px;
    width:50px;
    background-color: $color-tertiary;
    top:25px;
    left:0;
  }
}
.meal-title {
    background-color: white;
    margin-right:10px;
    border-radius: 15px;
    @include box-shadow;
    position:relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: padding-right 450ms ease-in-out;
&:hover {
    padding-right: 60px;

}
&:hover .meal-validation {
        opacity:1;
        transform: translate(-50px);
}

&:hover .fa-check-circle {
    transform: rotate(360deg);
}


& h4 {
    padding-left:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:0;
}

& p {
    margin:0;
}
& p,h4 {
    text-overflow: ellipsis;
    overflow: hidden;
}
}
.grid {
    animation:opacity 3s both;

@for $i from 1 through 3 {
    &:nth-child(#{$i}) {
            animation-delay: 300ms * $i;
        }
}
}

@keyframes opacity {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.meal-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.meal-price {
    margin-right: 5px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-gap:10px;
}

.meal-validation {
    background-color: $color-tertiary;
    width:60px;
    height:85px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:20px;
    position:absolute;
    right:-50px;
    top:0;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 330ms ease-in-out;

& .fa-check-circle {
    color:white;
    transition: transform 500ms ease-in-out;
    }
}

