//restaurants
.restaurants {
    margin: 0 25px;
    padding: 35px 0;
h2 {
    padding-bottom: 10px;
}
}

.restaurants-cards {
    margin-left: 25px;
    margin-right: 25px;
    display:flex;
    justify-content:space-around;
    gap:20px;
    flex-wrap: wrap;
    @media screen and (max-width: $breakpoint){
        flex-direction: column;
        margin:0;
    }

    &-menu {
    background-color: white;
    border-radius: 25px;
    padding-bottom: 5px;
    height:100%;
    width:45%;
    @include box-shadow;
    @media screen and (max-width: $breakpoint){
        width:100%;
    }

   & img {
     height:180px;
     width: 100%;
     object-fit: cover;
     object-position: center;
     border-radius: 25px 25px 0px 0px;
     @media screen and (max-width: $breakpoint){
        height:220px;
        width:100%;
       }
    }
    &-description {
        position:relative;
        h3,p{
        margin: 10px 20px;
        }    
        i {
            font-size: 30px;
            position:absolute;
            right:15px;
            top:50%;
            transform: translateY(-50%);
        }
     }
   }
.restaurants-cards-menu:hover {
    box-shadow: 2px 3px 15px -3px #000000;
}
.new {
    position: relative;
}
.new::before {
    content: "Nouveau";
    position: absolute;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    height: 25px;
    width: 90px;
    top:30px;
    right:20px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.heart {
    @include animated-heart;
}
}