* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #f6f6f6;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  text-align: center;
  box-shadow: 0px 0px 10px grey;
  padding: 20px;
  position: relative;
  background-color: white;
}

header .logo {
  margin: 0;
  font-family: "Shrikhand", cursive;
}

.location {
  background-color: #f3f3f3;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.location p {
  font-size: 16px;
}

.hero {
  text-align: center;
  padding: 40px 0px;
}
.hero h2 {
  font-size: 25px;
}
.hero p {
  font-size: 20px;
  color: #7a7a7a;
}

.gradient {
  color: white;
  font-weight: bold;
  font-size: 20px;
  background: linear-gradient(180deg, #FF79DA 0%, #9356DC 100%);
  border: none;
  border-radius: 30px;
  padding: 20px;
  margin-top: 15px;
  box-shadow: 2px 3px 10px -3px #000000;
}
.gradient:hover {
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: 2px 3px 15px -3px #000000;
  cursor: pointer;
}

.functioning-container {
  padding: 20px 15px 50px 15px;
  background-color: white;
}

.functioning {
  background-color: white;
}
.functioning h2 {
  margin-left: 20px;
}
.functioning-choices {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}
@media screen and (max-width: 767px) {
  .functioning-choices {
    flex-direction: column;
    gap: 20px;
  }
}
.functioning-choice {
  background-color: #f6f6f6;
  padding: 20px 25px;
  border-radius: 20px;
  position: relative;
  display: flex;
  align-items: center;
  flex-grow: 1;
  box-shadow: 2px 3px 10px -3px #000000;
}
.functioning-choice:hover {
  opacity: 0.9;
  transition: 0.3s;
  box-shadow: 2px 3px 15px -3px #000000;
  cursor: pointer;
}
.functioning-choice i {
  margin: 0 20px;
  color: #7a7a7a;
}
.functioning-choice i:hover {
  color: #9356DC;
}
.functioning-number {
  background-color: #9356DC;
  color: white;
  position: absolute;
  padding: 3px 8px 3px 8px;
  border-radius: 500px;
  transform: translateX(-140%);
}

.restaurants {
  margin: 0 25px;
  padding: 25px 0;
}
.restaurants h2 {
  padding-bottom: 10px;
}

.restaurants-cards {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
}
@media screen and (max-width: 767px) {
  .restaurants-cards {
    flex-direction: column;
  }
}
.restaurants-cards-menu {
  background-color: white;
  border-radius: 25px;
  padding-bottom: 5px;
  height: 100%;
  width: 45%;
}
@media screen and (max-width: 767px) {
  .restaurants-cards-menu {
    width: 100%;
  }
}
.restaurants-cards-menu img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 25px 25px 0px 0px;
}
@media screen and (max-width: 767px) {
  .restaurants-cards-menu img {
    height: 210px;
    width: 100%;
  }
}
.restaurants-cards-menu-description {
  position: relative;
}
.restaurants-cards-menu-description h3, .restaurants-cards-menu-description p {
  margin: 10px 20px;
}
.restaurants-cards-menu-description i {
  font-size: 30px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.new {
  position: relative;
}

.new::before {
  content: "Nouveau";
  position: absolute;
  background-color: #99E2D0;
  color: #1b6150;
  height: 25px;
  width: 90px;
  top: 30px;
  right: 20px;
  display: flex;
  justify-content: center;
  padding-top: 8px;
}

/*# sourceMappingURL=style.css.map */
