@mixin box-shadow {
    box-shadow: 2px 3px 10px -3px #000000;
}
@mixin button-hover {
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: 2px 3px 15px -3px #000000;
    cursor:pointer;
  }

  $color-primary: #9356DC;
  $color-secondary: #FF79DA;
  $color-tertiary: #99E2D0;
  
* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

// header
h1 {
    text-align: center;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    position:relative;
    background-color: white;
}
  
header .logo {
    margin:0;
    font-family: 'Shrikhand', cursive;
}

//location
.location {
    background-color: #f3f3f3;
    text-align: center;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    & p {
  font-size: 16px;
   }
}


  // hero section
.hero {
    text-align: center;
    padding: 40px 0px;
    & h2 {
    font-size: 25px;
    }
    & p {
    font-size: 20px;
    color: #7a7a7a;
     }
}
.gradient {
    color:white;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(180deg, $color-secondary  0%,  $color-primary 100%);
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 15px;
    @include box-shadow;
 &:hover {
    @include button-hover;
  }
}
 // functioning
 .functioning-container {
     padding: 20px 15px 50px 15px;
     background-color: white;
 }
 .functioning {
     background-color:white;
    
    & h2 {
        margin-left:15px;
    }

    &-choices {
    margin-left: 15px;
    display: flex;
    justify-content: space-around;
    gap: 30px;
    @media screen and (max-width: 767px){
        flex-direction:column;
    }
    }

    &-choice {
    background-color: #f6f6f6;
    padding: 20px 25px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include box-shadow;
    }
    &-choice:hover {
        @include button-hover;
    }
    &-choice i {
        margin: 0 20px;
        color: #7a7a7a;
    }
    &-choice i:hover {
        color: $color-primary;
    }

    &-number {
     background-color: $color-primary;
     color: white;
     position:absolute;
     padding: 3px 8px 3px 8px;
     border-radius: 500px;
     transform: translateX(-140%);
    }
    
    
}

    

     
 



  
  
  