@mixin box-shadow {
    box-shadow: 2px 3px 10px -3px #000000;
}

@mixin button-hover {
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: 2px 3px 15px -3px #000000;
    cursor:pointer;
  }

@mixin animated-heart {
        cursor: pointer;
        &:hover {
            transition: 0.5s ease-in-out;
            display: inline-block;
            opacity: 1;
            background: linear-gradient($gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color:transparent;
            font-weight: bold;
        }

    @keyframes heart {
        0% {
            opacity:0;
        }
        50% {
            opacity:0.5;
        }
        100% {
            opacity:1;
        }
    }
}  

  $color-primary: #9356DC;
  $color-secondary: #FF79DA;
  $color-tertiary: #99E2D0;
  $gradient: 180deg, $color-secondary  0%,  $color-primary 100%;
  $breakpoint: 767px;
  
* 
{
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color:inherit;
}

// header
h1 {
    text-align: center;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    position:relative;
    background-color: white;
}
  
header .logo {
    margin:0;
    font-family: 'Shrikhand', cursive;
}

//location
.location {
    background-color: #f3f3f3;
    text-align: center;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    & p {
  font-size: 16px;
   }
}


  // hero section
.hero {
    text-align: center;
    padding: 40px 0px;
    & h2 {
    font-size: 25px;
    }
    & p {
    font-size: 20px;
    color: #7a7a7a;
     }
}
.gradient {
    color:white;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient($gradient);
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 15px;
    @include box-shadow;
 &:hover {
    @include button-hover;
  }
}
 // functioning
 .functioning-container {
     padding: 20px 15px 50px 15px;
     background-color: white;
 }
 .functioning {
     background-color:white;
    
    & h2 {
        margin-left:20px;
    }

    &-choices {
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    justify-content: space-around;
    gap: 50px;
    @media screen and (max-width: $breakpoint){
        flex-direction:column;
        gap:20px;
      }
    }

    &-choice {
    background-color: #f6f6f6;
    padding: 20px 25px;
    border-radius: 20px;
    position: relative;
    display: flex;
    align-items: center;
    flex-grow: 1;
    @include box-shadow;
    }
    &-choice:hover {
        @include button-hover;
    }
    &-choice i {
        margin: 0 20px;
        color: #7a7a7a;
    }
    &-choice i:hover {
        color: $color-primary;
    }
    &-number {
     background-color: $color-primary;
     color: white;
     position:absolute;
     padding: 3px 8px 3px 8px;
     border-radius: 500px;
     transform: translateX(-140%);
    }
}
//restaurants
.restaurants {
    margin: 0 25px;
    padding: 35px 0;
h2 {
    padding-bottom: 10px;
}
}

.restaurants-cards {
    display:flex;
    justify-content:space-around;
    gap:20px;
    flex-wrap: wrap;
    @media screen and (max-width: $breakpoint){
        flex-direction: column;
    }

    &-menu {
    background-color: white;
    border-radius: 25px;
    padding-bottom: 5px;
    height:100%;
    width:45%;
    @include box-shadow;
    @media screen and (max-width: $breakpoint){
        width:100%;
    }

   & img {
     height:180px;
     width: 100%;
     object-fit: cover;
     object-position: center;
     border-radius: 25px 25px 0px 0px;
     @media screen and (max-width: $breakpoint){
        height:210px;
        width:100%;
       }
    }
    &-description {
        position:relative;
        h3,p{
        margin: 10px 20px;
        }    
        i {
            font-size: 30px;
            position:absolute;
            right:15px;
            top:50%;
            transform: translateY(-50%);
        }
     }
   }
.restaurants-cards-menu:hover {
    transform: scale(1.01);
    box-shadow: 2px 3px 15px -3px #000000;
}

.new {
    position: relative;
}
.new::before {
    content: "Nouveau";
    position: absolute;
    background-color: $color-tertiary;
    color: darken($color-tertiary, 50%);
    height: 25px;
    width: 90px;
    top:30px;
    right:20px;
    display: flex;
    justify-content: center;
    padding-top: 8px;
}

.heart {
    @include animated-heart;
}
}

//footer
footer {
    background-color: #353535;
    color:white;
    padding: 0px 0 25px 30px;
}
 h4 {
    font-family: 'Shrikhand', cursive;
    font-size: 20px;
    font-weight: 500;
    padding-top: 20px;
}
.block {
    padding-bottom: 10px;
}

.fa-utensils {
    margin-right: 12px;
}
.fa-hands-helping {
    margin-right: 5px;
}

//menu-page1

header {
    height:80px;
    width:100%;
    position:relative;
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
h1 {
    font-family: 'Shrikhand', cursive;
    box-shadow: none;
}

.arrow {
    width:50px;
    height:50px;
    position:absolute;
    left:25px;
    top:35%;
    font-size: 20px;
}
.menu-image {
    width:100%;
    height:250px;
    object-fit: cover;
}

// main

.menu-title {
    display: flex;
    font-family: 'Shrikhand', cursive;
    justify-content: space-between;
    align-items: center;
    padding:20px 25px;
}
.heart {
    font-size: 25px;
    @include animated-heart;
}
.menus {
    background-color: #f6f6f6;
    border-radius: 30px 30px 0 0;
    width:100%;
    position:relative;
    margin-bottom: 40px;
    margin-top: -10px;
    @media screen and (max-width: $breakpoint){
        margin-top:-50px;
    }
}
// Meals
.meals {
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:25px;
    @media screen and (max-width: 1200px){
        grid-template-columns: 1fr;
    }
& h3 {
    text-transform: uppercase;
    font-weight: 400;
    position:relative;
}
& h3::after {
    content: "";
    position:absolute;
    height:5px;
    width:50px;
    background-color: $color-tertiary;
    top:25px;
    left:0;
  }
}
.meal-title {
    background-color: white;
    border-radius: 15px;
    @include box-shadow;
    position:relative;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    transition: transform 330ms ease-in-out;
&:hover {
    padding-right: 60px;

}
&:hover .meal-validation {
        opacity:1;
        transform: translate(-50px);
}

&:hover .fa-check-circle {
    transform: rotate(360deg) ;
}

& h4 {
    padding-left:10px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin:0;
}

& p {
    margin:0;
}
& p,h4 {
    text-overflow: ellipsis;
    overflow: hidden;
}
}

.meal-info {
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}
.meal-price {
    margin-right: 5px;
    font-weight: bold;
}

.grid {
    display: grid;
    grid-gap:10px;
}

.meal-validation {
    background-color: $color-tertiary;
    width:60px;
    height:85px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding:20px;
    position:absolute;
    right:-50px;
    top:0;
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;

& .fa-check-circle {
    color:white;
    transition: transform 500ms ease-in-out;
    }
}



     
 



  
  
