
* {
    box-sizing: border-box;
}

body {
    margin:0;
    background-color: #f6f6f6;
    font-family: 'Roboto', sans-serif;
}

/*header*/
h1 {
    text-align: center;
    box-shadow: 0px 0px 10px grey;
    padding: 20px;
    position:relative;
    background-color: white;
}
  
header .logo {
    margin:0;
    font-family: 'Shrikhand', cursive;
}

/*location*/
.location {
    background-color: #f3f3f3;
    text-align: center;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.location p {
    font-size: 16px;
}

  /*hero section*/
.hero {
    text-align: center;
    padding: 40px 0px;
}
.hero h2 {
    font-size: 25px;
}
.hero p {
    font-size: 20px;
    color: #7a7a7a;
}
.gradient {
    color:white;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient(180deg, #FF79DA  0%, #9356DC 100%);
    border: none;
    border-radius: 30px;
    padding: 20px;
    box-shadow: 2px 3px 10px -3px #000000;
    margin-top: 15px;
    cursor: pointer;
}
.gradient:hover {
    opacity: 0.9;
    transition: .3s;
    box-shadow: 2px 3px 15px -3px #000000;
}



  


  
  
  