@mixin box-shadow {
    box-shadow: 2px 3px 10px -3px #000000;
}

@mixin button-hover {
    opacity: 0.9;
    transition: 0.3s;
    box-shadow: 2px 3px 15px -3px #000000;
    cursor:pointer;
  }

@mixin animated-heart {
        cursor: pointer;
        &:hover {
            animation: heart 0.3s ease-in-out;
            transition: 0.5s;
            display: inline-block;
            opacity: 1;
            background: linear-gradient($gradient);
            background-clip: text;
            -webkit-background-clip: text;
            color:transparent;
            font-weight: bold;
        }

    @keyframes heart {
        0% {
            opacity:0;
        }
        50% {
            opacity:0.5;
        }
        100% {
            opacity:1;
        }
    }
} 

@mixin gradient {
    color:white;
    font-weight: bold;
    font-size: 20px;
    background: linear-gradient($gradient);
    border: none;
    border-radius: 30px;
    padding: 20px;
    margin-top: 15px;
    @include box-shadow;
 &:hover {
    @include button-hover;
  }
}
